<footer class="footer">
    <div class="contacts">
        <div class="contacts__column">
            <div class="contacts__map" id="map"></div>
        </div>
        <div class="contacts__column">
            <div class="contacts-wrapp">
                <div class="contacts-content">
                    <div class="contacts-content__title title">
                        <div class="title__main">Вы всегда можете получить полную информацию по путевкам для детского
                            отдыха в нашем офисе</div>
                    </div>
                    <address class="contacts-content__address">
                        <p> г. Архангельск</p>
                        <p>пр. Чумбарова-Лучинского, д. 39, офис 28 </p>
                    </address>
                    <div class="contacts-content__mode">
                        <span>Режим работы: </span>
                        <p>Пн- Пт с 10:00 до 19:00</p>
                        <p>Сб 11-16:00, Вс - выходной</p>
                    </div>
                    <div class="contacts-content__tel">
                        <span>Контакты</span>
                        <a href="tel:+78182208010"> +7 (8182) 20-80-10</a>
                        <a href="tel:+79600028010"> +7 (960) 002 80 10 </a>
                    </div>
                    <div class="contacts-content__label"> Если возникли вопросы, вы можете написать нам на электронную
                        почту </div>
                    <a href="mailto:7knt@mail.ru" class="contacts-content__mail">7knt@mail.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>