<header class="header">
    <div class="header__container container">
        <a href="" class="header__logo"><img src="./dist/img/logo.png" alt="logo"></a>
        <div class="header__title">Лучшие детские курорты и маршруты</div>
        <div class="header__callback">
            <div class="header__phone phone">
                <div class="phone__subtitle">Есть вопросы? - звоните</div>
                <a href="" class="phone__item">+7 (818) 220-80-10</a>
                <a href="" class="phone__item">+7 (960) 002-80-10</a>
            </div>
            <a href="#callback" class="header__btn btn pl">Обратный звонок</a>
        </div>
    </div>
</header>
