<div class="popup popup-callback">
    <div class="popup-table table">
        <div class="cell">
            <div class="popup-content">
                <div class="popup-close"></div>
                <article class="callback">
                    <h3 class="callback__text">Заполните форму ниже - мы перезвоним Вам за 60 секунд
                    </h3>
                    <form action="#" class="callback__form form-callback">
                        <input autocomplete="off" type="text" name="form[]" data-error="Заполните поле"
                            data-value="Ваше имя" class="input req form-callback__name" />
                        <input autocomplete="off" type="text" name="form[]" data-value="Ваш телефон"
                            class="input req phone form-callback__tel" />
                        <button type="submit" class="form-callback__button">Получить консультацию</button>
                    </form>
                    <div class="callback__phone">
                        или перезвоните нам по телефону:
                        <a href="tel:+78182208010 ">+7 (818) 220-80-10
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>