@import "_variables";
@import "_mixins";

//<FORM>====================================================================================================
.form {
	&__error {
		// color: red;
	}
}

.form-row {
	@include flexbox();
	margin: 0px -15px;
}

.form__column {
	padding: 0px 15px;
}


// Callback form

.callback {
	text-align: center;

	// .callback__title
	&__title {
		@include resp-font(22, 18);
		font-weight: 700;
		margin: 0px 0px 30px 0px;
	}


	// .callback__text
	&__text {
		font-size: 16px;
		font-weight: 300;
		line-height: calc(20 / 16);
		p {
			margin: 0px 0px 10px 0px;
		}
	}


	.form-callback {
		display: flex;
		justify-content: center;
		margin: 40px 0px 0px 0px;

		&__name {
			background: url("../../dist/img/icons/user-icon.png") 10% 50% no-repeat #ffffff;
		}

		&__tel {
			background: url("../../dist/img/icons/phone-icon.png") 10% 50% no-repeat #ffffff;
		}

		// .form-callback__button
		&__button {
			padding: 20px 35px 20px 60px;
			border-radius: 28px;
			background-color: $decor-bg;
			color: #ffffff;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;

			@media (max-width: $md2+px) {
				padding: 20px 22px 20px 22px;
			}

			@media (min-width: 992px) {
				&:hover {
					background-color: $decor-bg-hover;
					transition: all .1s linear 0s;
				}
			}
		}

		@media (max-width: $md3+px) {
			display: inline-block;
		}
	}

	// .callback__phone
	&__phone {
		font-size: 16px;
		font-weight: 300;
		margin: 40px 0px 0px 0px;

		a {
			color: #001e28;
			font-family: "RobotoSlab";
			font-size: 20px;
			line-height: calc(27 / 20);
			font-weight: 700;
			padding: 2px 0px 2px 45px;
			margin: 0px 0px 0px 30px;
			background: url("../../dist/img/icons/mobile-phone_icon.png") left no-repeat;
			transition: color 0.5s ease 0s;
			@media (max-width: $md3+px) {
				margin: 15px 0px 0px 0px;
				display: block;
				text-align: left;
			}
			@media (min-width: 992px){
				&:hover {
					color: $decor-bg-hover;
					transition: color 0.1s ease 0s;
				}
			}
		}
	}

	&_decor {
		border: 10px solid $tabs-bg;
		padding: 70px 10px;
		background: #fff;

		@media (min-width: 670px){
			background: url("../../dist/img/form-image-01.jpg") right -2% bottom no-repeat #ffffff;
		}
		@media (max-width: $md4+px){
		  padding: 35px 10px;
		}
	}

	@media (max-width: $md3+px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}



//</FORM>====================================================================================================

//<BUTTONS>====================================================================================================
.btn {
	color: #fff;
	font-size: 11px;
	border-radius: 23px;
	background-color: $decor-bg;
	text-transform: uppercase;
	padding: 22px 30px 15px;

	@media (max-width: $md4+px) {
		padding: 12px 12px 8px 12px;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: $decor-bg-hover;
			transition: all .1s linear 0s;
		}
	}



	&.fw {
		width: 100%;
	}
}

//</BUTTONS>====================================================================================================



//<INPUT>====================================================================================================
input[type=text],
input[type=email],
input[type=tel],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	max-width: 270px;
	display: block;
	padding: 20px 35px 20px 60px;
	font-size: 15px;
	height: 55px;
	border-radius: 28px;
	border: 1px solid #d1d1d1;
	font-weight: 300;
	color: #999999;
	margin: 0px 30px 0px 0px;

	@media (max-width: $md2+px) {
		padding: 20px 5px 20px 50px;
		margin: 0px 15px 0px 0px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px 15px 0px;
	}

	&.focus {
		border-color: rgba(0, 0, 255, 0.425);
	}

	&.err {
		border-color: rgba(255, 0, 0, 0.445);
	}
}

textarea.input {
	resize: none;
	padding: 10px 018px;
	height: 100px;
}

//</INPUT>====================================================================================================

