//<ОСНОВНОЙ БЛОК>====================================================================================================

.title {
	text-align: center;

	// .title__main
	&__main {
		color: #00222d;
		font-family: "RobotoSlab";
		line-height: calc(36 / 30);
		// @include resp-font(30, 20);
		font-size: 30px;
	}

	// .title__item
	&__item {
		margin: 30px 0px 0px 0px;
		font-weight: 700;
		// @include resp-font(22, 18);
		font-size: 22px;
	}

	&_mxw {
		max-width: 450px;
		.title__main {
			text-align: left;
		}
	}
}

// =======================================

// .slide-box {
// 	// max-width: 270px;

// 	&__item {
		
// 	}
// 	// text-align: center;
// 	// display: flex;
// 	// justify-content: center;
// 	// .slide-box__image
// 	&__image {
// 		border: 10px solid #cce9e6;
// 		display: inline-flex;
// 		position: relative;
// 	}

// 	// .slide-box__info
// 	&__info {
// 		background-color: #cce9e6;
// 		padding: 12px 54px;
// 		text-align: center;
// 		font-size: 14px;
// 		position: absolute;
// 		bottom: 0;
// 		max-width: 280px;
// 		// left: 0;
// 		// right: 0;
// 	}

// 	// .slide-box__name
// 	&__name {
// 		font-weight: 700;
// 	}

// 	// .slide-box__text
// 	&__text {
// 		font-weight: 300;
// 	}
// }

.slider-box {
	// max-width: 270px;
	// border: 5px solid red;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// padding: 0px 40px;
	// .slider-box__image
	&__image {
		width: 100%;
		height: 350px;
		border: 10px solid #cce9e6;
		
	}
	// .slider-box__info
	&__info {
		font-size: 14px;
		background-color: #cce9e6;
		margin: -69px 0px 0px 0px;
		position: relative;
		z-index: 2;
		text-align: center;
		padding: 14px 30px;
		font-weight: 300;
		strong {
			font-weight: 700;
		}
	}
}



//</ОСНОВНОЙ БЛОК>====================================================================================================



//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: '';
	clear: both;
}

.rub:after {
	content: '₽';
}

//====================================================================================================
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;
		padding: 0px 0px 0px 45px;

		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}

//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;

	&.full {
		width: 100%;
	}
}

//====================================================================================================
// .ibg {
// 	background-position: center;
// 	background-size: cover;
// 	background-repeat: no-repeat;

// 	img {
// 		display: none;
// 	}
// }


.ibg {
	position: relative;
}

// .ibg picture source  {
// 	position: absolute;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	-o-object-fit: cover;
// 	object-fit: cover;
// }

.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

body.ie .ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body.ie .ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;

	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.videobg {

	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}

//====================================================================================================
.moretext {
	overflow: hidden;
}

.moretext__more {
	cursor: pointer;

	i {
		font-style: normal;

		&:first-child {
			display: block;
		}

		&:last-child {
			display: none;
		}
	}

	&.active {
		i {
			font-style: normal;

			&:first-child {
				display: none;
			}

			&:last-child {
				display: block;
			}
		}
	}
}

//====================================================================================================
.graystyle {
	@include anim(0.8s, 0s);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

//====================================================================================================
.slick-slider {
	position: relative;

	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;

	}

	.slick-track {
		position: relative;
		width: 100%;
		display: flex;
		// display: block;
		align-items: stretch;
	}

	.slick-slide {
		overflow: hidden;
		float: left;
		position: relative;
	
	}

	.slick-dots {
		li {
			button {}

			&.slick-active {
				button {}
			}
		}
	}
}

//=====================================================================================================================
.tab__item {
	display: none;

	&.active {
		display: flex;
	}
}

//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}

//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}

//=====================================================================================================================
.gm-style {}

.gm-style-iw-t {
	opacity: 0;
}

.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;

	button {
		display: none !important;
	}

	&:after {
		display: none !important;
	}
}

.baloon-style {
	display: none;
}

.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;

	>.gm-style-iw-d {
		overflow: hidden !important;
		max-width: none !important;
	}

	&:after {
		display: none !important;
	}

}

.baloon-close {
	top: 18px !important;
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================