//<Сетка>======================================================================================================
$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:991.98;
$md3:767.98;
$md4:479.98;
//<Сетка>=======================================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"Circe", sans-serif;
//</Шрифт по умолчанию>==========================================================================================

$main-text-color: #001e28;
$decor-bg: #ffaf02;
$decor-bg-hover: #ff9d02;
$tabs-bg: #d8f0f0;