@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";
@import "_fonts";


//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

body._lock {
	overflow: hidden;
}

//sticky
.content {
	flex: 1 1 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================

// HEADER =========================================================
.header {
	padding: 7.5px 0px;

	// .header__container
	&__container {
		display: flex;
		align-items: center;
		position: relative;
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 2;
	}

	// .header__title
	&__title {
		font-size: 15px;
		flex: 0 0 140px;
		margin: 0px 0px 0px 30px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 0px 10px;
		}

		@media (max-width: 600px) {
			display: none;
		}
	}

	// .header__callback
	&__callback {
		display: flex;
		align-items: center;
		margin-left: auto;

		@media (max-width: $md4+px) {
			flex-direction: column;
			margin: 20px 0px 0px auto;
		}

	}

	// .header__phone
	&__phone {
		display: flex;
		flex-direction: column;
		margin: 0px 35px 0px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 15px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	// .header__btn
	&__btn {
		@media (max-width: $md4+px) {
			margin: 10px 0px;
		}
	}
}

.phone {

	// .phone__subtitle
	&__subtitle {
		font-size: 13px;
		font-weight: 300;
		margin: 0px 0px 5px 0px;

		@media (max-width: $md4+px) {
			font-size: 10px;
		}
	}

	// .phone__item
	&__item {
		font-family: "RobotoSlab";
		font-size: 17px;
		color: $main-text-color;

		@media (min-width: 992px) {
			&:hover {
				color: $decor-bg-hover;
				transition: color .1s linear 0s;
			}
		}

		@media (max-width: $md4+px) {
			font-size: 15px;
		}
	}
}

//MAIN-SCREEN ===========================================================================================

.main-screen {
	padding: 110px/1170px * 100% 0px 90px/1170px * 100% 0px;
	background: url("../../dist/img/main-screen-bg.jpg") center bottom no-repeat;
	background-size: cover !important;

	@media (max-width: $md3+px) {
		background: url("../../dist/img/main-screen-bg.jpg") 45% no-repeat;
	}

	@media (max-width: $md4+px) {
		padding-bottom: 40px;
	}

}

.info-main-screen {

	// .info-main-screen__title
	&__title {
		font-family: "RobotoSlab";
		@include resp-font(57, 35);
		max-width: 640px;
		margin: 0px 0px 40px 0px;
	}

}

.box-info {
	max-width: 540px;
	margin: 80px 0px 0px 0px;

	// .box-info__item
	&__item {
		display: flex;
		margin: 0px 0px 30px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}

	@media (max-width: $md4+px) {
		margin: 50px 0px 0px 0px;
	}
}

.text-info-box {
	margin: 0px 0px 0px 30px;

	// .text-info-box__title
	&__title {
		// font-size: 18px;
		@include resp-font(18, 15);
		font-weight: 700;
		line-height: calc(22 / 18);
	}

	// .text-info-box__subtitle
	&__subtitle {
		font-size: 14px;
		font-weight: 300;
		line-height: calc(20 / 14);
		margin: 5px 0px 0px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 0px 15px;
	}
}

// consultation ====================================================================================

.consultation {
	padding: 100px 0 100px 0;
	background: url("../../dist/img/consultation-bg.jpg") 50% 0% no-repeat;

	// .consultation__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	// .consultation__title
	&__title {}

	&__decor {
		margin: 60px 0px;
		height: 10px;
		width: 100%;
		background: url("../../dist/img/consultation-decor.svg") center no-repeat;

		@media (max-width: $md4+px) {
			margin: 40px 0px;
		}
	}

	@media (max-width: $md3+px) {
		padding: 50px 0 50px 0;
	}
}

// Catalog ==========================================================================================

.catalog {
	padding: 100px 0;

	// .catalog__container
	&__container {
		// height: 2000px;
	}

	// .catalog__title
	&__title {}

	// .catalog__vouchers
	&__vouchers {
		margin: 70px 0px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 40px 0px 0px 0px;
		}
	}

	// .catalog__category
	&__category {}

	// .catalog__row
	&__row {
		margin: 40px 0px 0px 0px;
	}

	&__content {
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	// .catalog__column
	&__column {
		// display: flex;
		flex: 0 1 33.333%;
		padding: 0 15px;
		margin: 0px 0px 30px 0px;

		@media (max-width: $md3+px) {
			flex: 0 1 50%;
		}

		@media (max-width: $md4+px) {
			flex: 0 1 100%;
		}
	}

	// .catalog__card
	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	@media (max-width: $md3+px) {
		padding: 45px 0;
	}

	@media (max-width: $md4+px) {
		padding: 25px 0;
	}
}

.category {

	// .category__row
	&__row {
		display: flex;
		margin: 0px -15px;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 5px;
			background-color: $decor-bg;
			width: calc(100% - 30px);
			margin: 0 15px;

			@media (max-width: $md3+px) {
				width: calc(100% - 14px);
				margin: 0 7px;
			}

			@media (max-width: $md4+px) {
				display: none;
			}
		}

		@media (max-width: $md3+px) {
			margin: 0 -7px;
		}

		@media (max-width: $md4+px) {
			display: block;
		}
	}

	// .category__column
	&__column {
		flex: 0 1 33.333%;
		padding: 0px 15px;

		&.active .category__items {
			background-color: $decor-bg;
		}

		@media (max-width: $md3+px) {
			padding: 0px 7px;
		}

		@media (max-width: $md4+px) {
			margin: 10px 0px 0px 0px;
		}
	}

	// .category__items
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		border-radius: 20px 20px 0 0;
		background-color: $tabs-bg;
		cursor: pointer;

		@media (max-width: $md4+px) {
			border-radius: 0px 0px 0px 0px;
		}
	}

	// .category__item
	&__item {
		@include resp-font (18, 14);
		font-weight: 700;
		padding: calc(23/370 * 100%) calc(72/320 * 100%);
		text-align: center;
		line-height: calc(22 / 18);

		@media (max-width: $md3+px) {
			padding: calc(28/370 * 100%) calc(25/320 * 100%);
		}

		@media (max-width: $md4+px) {
			padding: calc(18/370 * 100%) calc(5/320 * 100%);
		}
	}
}


.card-box {
	padding: 15px 15px 25px;
	border: 2px solid $tabs-bg;
	height: 100%;

	// .card-box__image
	&__image {
		padding: 0px 0px 67.5% 0px;
		width: 100%;
		display: block;
		position: relative;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			background-image: linear-gradient(to top, #001e28 0%, rgba(0, 30, 40, 0) 25%);
		}

		.image-box__info {
			position: absolute;
			z-index: 2;
			color: #fff;
			display: flex;
			flex-wrap: wrap;
			padding: 12px 10px 2px;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			bottom: 0;
			font-size: 13px;
			font-weight: 400;

			&-site {
				background: url("../../dist/img/icons/map-icon.png") no-repeat;
				padding: 4px 10px 0px 30px;
				height: 20px;
				margin: 0px 0px 10px 0px;
			}

			&-age {
				background: url("../../dist/img/icons/age-icon.png") no-repeat;
				padding: 4px 0px 0px 30px;
				margin: 0px 0px 10px 0px;
				height: 20px;
			}

		}
	}

	// .card-box__title
	&__title {
		font-size: 18px;
		font-weight: 700;
		margin: 30px 0px 0px 0px;
		text-align: center;
		max-width: 85%;
		flex: 1 1 auto;
	}

	// .card-box__address
	&__address {
		font-size: 14px;
		font-weight: 300;
		margin: 15px 0px 0px 0px;
		text-align: center;
	}

	// .card-box__btn
	&__btn {
		font-size: 18px;
		font-weight: 700;
		margin: 30px 0px 0px 0px;
		color: $main-text-color;
		position: relative;
		padding: 0px 0px;
		z-index: 2;
		transition: all .5s linear 0s;

		&:after {
			content: '';
			position: absolute;
			bottom: -8px;
			left: 0;
			margin: 2px 0px 0px 0px;
			z-index: -1;
			display: block;
			height: 6px;
			width: 100%;
			background-color: $decor-bg;
			transition: all .5s linear 0s;
		}

		&:hover:after {
			height: 35px;
			transition: all .5s linear 0s;
		}

		&:hover {
			padding: 0px 10px;
			transition: all .5s linear 0s;
		}


	}

	@media (min-width: 992px) {
		&:hover {
			border: 2px solid $decor-bg;
		}
	}
}

// Offer

.offer {
	padding: 100px/1170px * 100% 0px;
	background: linear-gradient(-211deg, $tabs-bg 0%, #fdfde0 100%);

	// .offer__title 
	&__title {
		margin: 0 auto;

		.title__item {
			max-width: 630px;
			line-height: calc(41 / 22);
			text-align: center;
			margin: 30px auto 0;

			span {
				background-color: $decor-bg;
				padding: 3px 10px;
				color: #ffffff;
			}
		}
	}

	// .offer__info
	.offer__info {
		margin: 70px 0px 40px 0;

		@media (max-width: $md3+px) {
			margin: 40px 0px 20px 0px;
		}
	}

	.info-offer {

		// .info-offer__row
		&__row {
			display: flex;
			flex-wrap: wrap;
		}

		// .info-offer__column
		&__column {
			display: flex;
			flex: 0 1 33.333%;
			justify-content: center;
			align-items: center;
			margin: 0px 0px 30px 0px;

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
			}

			@media (max-width: $md3+px) {
				flex: 0 1 100%;
				justify-content: flex-start;
			}
		}

		// .info-offer__image
		&__image {
			margin: 0px 30px 0px 15px;
		}

		// .info-offer__item
		&__item {
			font-size: 20px;
			max-width: 220px;

			@media (max-width: $md3+px) {
				max-width: none;
				font-size: 18px;
			}

			// padding: 0px 80px 0px 0px;
		}
	}
}

.gallery-offer {
	position: relative;
	margin: 70px 0px 0px 0px;

	// .gallery-offer__body
	&__body {
		margin: 0 -15px;
	}

	// .gallery-offer__slide
	&__slide {
		height: 200px;
		margin: 0 15px;
	}

	// .gallery-offer__control
	&__control {}

	// .gallery-offer__arrow
	&__arrow {
		position: absolute;
		top: 50%;
		cursor: pointer;
		height: 40px;
		width: 40px;
		background: url("../../dist/img/icons/arrow-icon.svg") center no-repeat rgba(255, 255, 255, 0.507);

		// .gallery-offer__arrow_prev
		&_prev {
			left: 20px;
			transform: translate(0, -50%);
		}

		// .gallery-offer__arrow_next
		&_next {
			transform: translate(0px, -50%) rotate(180deg);
			right: 20px;
		}
	}
}

// Suport 

.support {
	padding: 100px/1170px * 100% 0px;

	// .support__container
	&__container {}

	// .support__row
	&__row {
		display: flex;
		margin: 0px 0px 68px 0px;

		@media (max-width: 580px) {
			flex-direction: column;
		}
	}

	// .support__column
	&__column {
		flex: 0 0 50%;

		@media (max-width: 580px) {
			flex: 0 0 100%;
		}
	}

	// .support__image
	&__image {
		padding: 0px 0px 75% 0px;
	}

	// .support__title
	&__title {
		color: #00222d;
		font-family: "RobotoSlab";
		// line-height: calc(40 / 30);
		@include resp-font(30, 18);
		margin: 0px 0px 70px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 35px 0px;
		}

		@media (max-width: 580px) {
			margin: 40px 0px 25px 0px;
		}
	}

	// .support__info
	&__info {}

	.callback_decor {
		@media (min-width: 670px) {
			background: url("../../dist/img/form-image-02.jpg") right -2% bottom no-repeat #ffffff;
		}
	}

}

.info-support {
	max-width: 400px;

	// .info-support__text
	&__text {
		@include resp-font(20, 16);
		font-weight: 400;
	}

	// .info-support__label
	&__label {
		@include resp-font(22, 18);
		font-weight: 700;
		margin: 68px 0px 26px 0px;

		@media (max-width: $md3+px) {
			margin: 35px 0px 15px 0px;
		}
	}
}






//</ОСНОВНОЙ БЛОК>===========================================================================================================