@import "_variables";
@import "_mixins";
@import "_reset";
@import "_ui";
@import "_forms";
@import "_popup";
@import "_fonts";


//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {}
}

body._lock {
	overflow: hidden;
}

//sticky
.content {
	flex: 1 1 auto;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw+px;
	margin: 0 auto;
	width: 100%;
	padding: 0 10px;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//</ОСНОВНОЙ БЛОК>===========================================================================================================

// HEADER =========================================================
.header {
	padding: 7.5px 0px;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		position: relative;
	}

	// .header__logo
	&__logo {
		position: relative;
		z-index: 2;
	}

	// .header__title
	&__title {
		font-size: 15px;
		flex: 0 0 140px;
		margin: 0px 0px 0px 30px;

		@media (max-width: $md3+px) {
			margin: 0px 0px 0px 10px;
		}

		@media (max-width: 600px) {
			display: none;
		}
	}

	// .header__callback
	&__callback {
		display: flex;
		align-items: center;
		margin-left: auto;

		@media (max-width: $md4+px) {
			flex-direction: column;
			margin: 20px 0px 0px auto;
		}

	}

	// .header__phone
	&__phone {
		display: flex;
		flex-direction: column;
		margin: 0px 35px 0px 0px;

		@media (max-width: $md3+px) {
			margin: 0px 15px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 0px 0px;
		}
	}

	// .header__btn
	&__btn {
		@media (max-width: $md4+px) {
			margin: 10px 0px;
		}
	}
}

.phone {

	// .phone__subtitle
	&__subtitle {
		font-size: 13px;
		font-weight: 300;
		margin: 0px 0px 5px 0px;

		@media (max-width: $md4+px) {
			font-size: 10px;
		}
	}

	// .phone__item
	&__item {
		font-family: "RobotoSlab";
		font-size: 17px;
		color: $main-text-color;

		@media (min-width: 992px){
			&:hover {
				color: $decor-bg-hover;
				transition: color .1s linear 0s;
			}
		}

		@media (max-width: $md4+px) {
			font-size: 15px;
		}
	}
}

//MAIN-SCREEN ===========================================================================================

.main-screen {
	padding: 110px/1170px * 100% 0px 90px/1170px * 100% 0px;
	background: url("../../dist/img/main-screen-bg.jpg") center bottom no-repeat;
	background-size: cover !important;
	@media (max-width: $md3+px){
		background: url("../../dist/img/main-screen-bg.jpg") 45% no-repeat;
	}

	@media (max-width: $md4+px){
		padding-bottom: 40px;
	}

}

.info-main-screen {
	// .info-main-screen__title
	&__title {
		font-family: "RobotoSlab";
		@include resp-font(57, 35);
		max-width: 640px;
		margin: 0px 0px 40px 0px;
	}

}

.box-info {
	max-width: 540px;
	margin: 80px 0px 0px 0px;
	
	// .box-info__item
	&__item {
		display: flex;
		margin: 0px 0px 30px 0px;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	@media (max-width: $md4+px){
		margin: 50px 0px 0px 0px;
	}
}
.text-info-box {
	margin: 0px 0px 0px 30px;
	// .text-info-box__title
	&__title {
		// font-size: 18px;
		@include resp-font(18, 15);
		font-weight: 700;
		line-height: calc(22 / 18);
	}
	// .text-info-box__subtitle
	&__subtitle {
		font-size: 14px;
		font-weight: 300;
		line-height: calc(20 / 14);
		margin: 5px 0px 0px 0px;
	}
	@media (max-width: $md4+px){
		margin: 0px 0px 0px 15px;
	}
}

// consultation ====================================================================================

.consultation {
	padding: 100px 0 100px 0;
	background: url("../../dist/img/consultation-bg.jpg") 50% 0% no-repeat;
	// .consultation__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	// .consultation__title
	&__title {
	}
	&__decor {
		// display: flex;
		// flex: 1 1 auto;
		margin: 60px 0px;
		height: 10px;
		width: 100%;
		background: url("../../dist/img/consultation-decor.svg") center no-repeat;
	}
	@media (max-width: $md3+px){
		padding: 50px 0 50px 0;
	}
}




//</ОСНОВНОЙ БЛОК>===========================================================================================================